

<footer class="wsk-mini-footer">
    <div class="wsk-mini-footer--left-section">
        <div class="wsk-logo">
            Dart API docs
        </div>
        <ul class="wsk-mini-footer--link-list">
            <li><a href="#">Privacy &amp; Terms</a></li>
            <li><a href="#">CC Licensed</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </div>
    <!--
    <div class="wsk-mini-footer--right-section">
      <button class="wsk-mini-footer--social-btn"></button>
      <button class="wsk-mini-footer--social-btn"></button>
      <button class="wsk-mini-footer--social-btn"></button>
    </div>
    -->
</footer>

</main> <!-- wsk-layout__content -->


</div> <!-- wek-layout -->



<script src="js/material.js"></script>
</body>
</html>