<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- required because all the links are pseudo-absolute -->
    <base href="{{htmlBase}}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/material.css">
    <!--<link rel="stylesheet" href="css/skeleton-grid.css">-->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/prettify.css">

    <meta name="description" content="{{ metaDescription }}">
</head>

<body>

<div class="wsk-layout wsk-js-layout wsk-layout--overlay-drawer-button">
    <header class="wsk-layout__header wsk-layout__header--multi-row wsk-layout__header--waterfall wsk-layout__header--tall">
        <div class="wsk-layout__header-row">
            <!-- Title -->
            <span id="my_text_changes">SDK &gt; Library &gt; Class</span>
            <div class="wsk-layout-spacer"></div>
        </div>
        <!-- Middle row -->
        <div class="wsk-layout__header-row">
          <h1 class="wsk-typography--display-1">
            {{ layoutTitle }}
          </h1>
            <p>The one-line description for this thing.</p>
        </div>
    </header>
    <div class="wsk-layout__drawer">
        <span class="wsk-layout-title">dartdocs</span>
        <nav class="wsk-navigation">
            {{#navLinks}}
            <a class="wsk-navigation__link" href="{{href}}">{{name}}</a>
            {{/navLinks}}
        </nav>
    </div>
    <main class="wsk-layout__content">