body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.wsk-layout__header, .wsk-layout__header .wsk-layout__drawer-button {
  background-color: #0288D1;
}

a {
  color: #03A9F4;
}

pre {
  font-family: 'Inconsolata', monospace;
}

h4 {
  opacity: 0.87;
  margin: 16px 0 16px 0;
}

pre.prettyprint {
  /* from bootstrap */
  padding: 9.5px;
  border: 1px solid #CCC;
}

dt {
  font-weight: normal;
  margin-bottom: 3px;
}

section#description {
  margin-top: 16px;
}

section.summary {
  border-top: 1px solid hsl(0, 0%, 78%);
}

.summary dd {
  margin-bottom: 8px;
  opacity: 0.54;
}

dl.withreturntypes .returntype {
  float: left;
  width: 240px;
  opacity: 0.54;
}

dl.withreturntypes span.name-and-params {
  display: block;
  margin-left: 240px;
}

dl.withreturntypes dd {
  margin-left: 240px;
}

dl.withreturntypes .parameter-name, dl.withreturntypes .constant-value {
  color: #727272;
}

@media (max-width: 768px) {
  dl.withreturntypes dd {
    margin-left: 0;
    padding-left: 16px;
  }

  dl.withreturntypes .returntype {
    display: block;
    float: none;
    width: auto;
  }

  dl.withreturntypes span.name-and-params {
    display: inline;
    margin:0;
  }
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

dl.dl-horizontal dt {
  width: 240px;
  font-style: normal;
}

dl.dl-horizontal dd {
  padding-left: 16px;
  margin-left: 0; /* override bootstrap */
}

.optional {
  font-style: italic;
}

.parameters {
  margin-left: 32px;
}

.param-name {
  font-style: italic;
}

p.firstline {
  font-weight: bold;
}

.method-detail {
  margin-bottom: 8px;
}

.dl-horizontal dt {
  text-align: left;
  font-style: italic;
}

.markdown h1 {
  font-size: 16px;
}

.markdown h2 {
  font-size: 12px;
}

.has-it::before {
  content: '\2713';
}

ul.gt-separated {
  list-style: none;
  padding: 0;
}

ul.gt-separated li {
  display: inline;
}

ul.gt-separated li:after {
  content: " > ";
}

ul.gt-separated li:last-child:after {
  content: "";
}

.is-inherited {
  font-style: italic;
}

.multi-line-signature {
  font-size: 16px;
}

ul.breadcrumbs {
  position: absolute;
  padding: 0;
  margin: 8px 0 8px 0;
}

ul.comma-separated {
  list-style: none;
  padding: 0;
  display: inline;
}

ul.comma-separated li {
  display: inline;
}

ul.comma-separated li:after {
  content: ", ";
}

ul.comma-separated li:last-child:after {
  content: "";
}

ul.end-with-period li:last-child:after {
  content: ".";
}

section {
  margin-bottom: 16px;
}

dl.constructor-summary-list dd {
  margin-left: 16px;
}

.constructor-modifier {
  font-style: italic;
}